@if(character){
<div class="row g-0">
  <figure class="col-md-4">
    <img
      src="{{ character.image }}"
      class="img-fluid rounded-start"
      alt="{{ character.name }}"
    />
  </figure>
  <div class="col-md-8">
    <div class="card-body">
      <h1 class="card-title">{{ character.name }}</h1>
      <p class="card-text"><strong>ID:</strong> {{ character.id }}</p>
      <footer class="card-text">
        <a class="btn btn-primary" [routerLink]="`character/${character.id}`"
          >Ver más</a
        >
      </footer>
    </div>
  </div>
</div>

}
